<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Spy</title>
</head>
<body>
    <h1>Unmask the Abnormal Events</h1>
    <form action="/detect_anomaly" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*">
        <button type="submit">Detect Anomaly</button>
    </form>
</body>
</html>
